* {
    font-family: Roboto, sans-serif,;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

}

.hero, footer {
    background-color: #1F2937;
    color: #eee;
}

.hero {
    padding: 50px 100px;
}

header, 
.head-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.head-container {
    margin-top: 70px;
}

.head-logo {
    font-size: 24px;
    color: #f9faf8;
}


.top1 p, 
header li {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 auto;
}

main {
    display: flex;
    flex-flow: column nowrap;
    
}


.contain-top,
.top2 img {
    height: 300px;
    max-width: 400px;
}

.top1 {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;   
}

li {
    align-self: center;
}


a {
    color: #e5e7eb;
    text-decoration: none;
}

h1{
    font-size: 48px; 
    color: #f9faf8;
    font-weight: 900;
}


button {
    background-color: #3882f6;
    color: #eee;
    border-radius: 5px;
    height: 25px;
    width: 70px;
    padding-bottom: 2px ;
}

.top1 button {
    border: 1px solid #1F2937;
}

.section2,
.section3,
.section4 {
    padding: 20px 100px;
    margin: 0 100px;
}

.section2 {
    display: flex;
    flex-direction: column;
    margin-top:  -25px;
    margin-bottom: 25px;
}

.contain-info {
    align-self: center;
}

h2 {
    font-size: 36px;
    color: #1f2937; 
    font-weight: 900;
}

.contain-image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
}

.container-image {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container-image img {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
    
}

.container-image p {
    text-align: center;
    margin: 0 auto;
}

.contain3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    margin-top:  50px;
    margin-bottom: 50px;
}

.container3 {
    background-color: #e5e7eb;
}

blockquote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

cite {
    align-self: end;
}

.div {
    box-sizing: border-box;
    
}

.section4 {
    box-sizing: content-box;
    background-color: #3882f6;
    color: #eee;
    border-radius: 7px;
    margin-top: 50px;
    margin-bottom: 50px;    
}


.contain4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.action {
    display: flex;
    flex-direction: column;
}

.action h3,
.action p {
    margin: 0;
}

.sign-up {
    border: 1px solid white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px; 
}

